
.masker-pane .masker-glass .masker-center .masker-graphic .progress-indicator:indeterminate .spinner .segment0{
-fx-background-color:#2c505e;
}
.masker-pane .masker-glass .masker-center .masker-graphic .progress-indicator:indeterminate .spinner .segment1{
-fx-background-color:#2c505e;
}
.masker-pane .masker-glass .masker-center .masker-graphic .progress-indicator:indeterminate .spinner .segment2{
-fx-background-color:#2c505e;
}
.masker-pane .masker-glass .masker-center .masker-graphic .progress-indicator:indeterminate .spinner .segment3{
-fx-background-color:#2c505e;
}
.masker-pane .masker-glass .masker-center .masker-graphic .progress-indicator:indeterminate .spinner .segment4{
-fx-background-color:#2c505e;
}
.masker-pane .masker-glass .masker-center .masker-graphic .progress-indicator:indeterminate .spinner .segment5{
 -fx-background-color:#2c505e;
}
 .masker-pane .masker-glass .masker-center .masker-graphic .progress-indicator:indeterminate .spinner .segment6{
  -fx-background-color:#2c505e;
}
.masker-pane .masker-glass .masker-center .masker-graphic .progress-indicator:indeterminate .spinner .segment7{
  -fx-background-color:#2c505e;
}
.masker-pane .masker-glass .masker-center .masker-graphic .progress-indicator:indeterminate .spinner .segment8{
  -fx-background-color:#2c505e;
}
.masker-pane .masker-glass .masker-center .masker-graphic .progress-indicator:indeterminate .spinner .segment9{
  -fx-background-color:#2c505e;
}
.masker-pane .masker-glass .masker-center .masker-graphic .progress-indicator:indeterminate .spinner .segment10{
  -fx-background-color:#2c505e;
}
.masker-pane .masker-glass .masker-center .masker-graphic .progress-indicator:indeterminate .spinner .segment11{
  -fx-background-color:#2c505e;
}
