.progress-bar > .bar {
-fx-background-color:#0b6d54;
}
.progress-bar > .track {
-fx-background-color:transparent;
}
#te{
-fx-fill:black;
}
#se{
-fx-background-color: black;
}
#be{
-fx-background-color:white;
}
#cl:hover{
-fx-fill:red;
-fx-scale-x:1.1;
-fx-scale-y:1.1;
}